
html, body{
  overflow-x: hidden;
}
body {
    font-size: 100%;
    background: linear-gradient(antiquewhite,burlywood);
    background-image: url(fundoo.gif);
}
.nav{
  position: fixed;
  width: 100%;
top: 10px;
z-index: 999;

}
#navBar {
    width: 96.5%;
    height: 120%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
    background-color: rgba(139, 70, 70, 0.438);
}
#navBarList {
  display:flex;
  width: 100%;
  gap:30px;
  align-items: center;
  letter-spacing: 4px;
}
 .navBarItem {
  font-family: 'Righteous', cursive;
     display: flex;
     color:black;
     font-weight: 500;
     font-size: 22px;
     list-style-type: none;
     display: inline;
 }
 .nav-imagem{
  position: absolute;
  top: 2px;
  right: 100px;
  height: 100px;
  display: flex;
 }
 .conteudo{
    margin-bottom: 48px;
     
 }
.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
  }
  .conteudo-principal-escrito-1 {
    font-family: 'Righteous', cursive;
    font-weight: 300;
    font-size: 50px;
    color: rgb(35, 25, 19);
    padding-top: 100px;
  }
  .conteudo-principal-escrito-2 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 35px;
    color: rgb(35, 25, 19);
  }
  /* .conteúdo-principal-escrito-3 {
    background-color: rgb(255, 255, 121);
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 20px; 
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
  } */
  .conteúdo-principal-escrito-3:hover {
    background-color: rgb(255, 221, 119);
  }
  .tabela{
     align-items: center;
     display: flex;
     flex-direction: column;
  }

  .segundo-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
  }
  .titulo {
    border-top: 0.4px solid rgb(0, 8, 0);
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 30px;
    color: black;
    margin-bottom: 16px;
  }
  .locais {
    font-family: 'Righteous', cursive;
    font-weight: 300;
    font-size: 30px;
    color: rgb(5, 0, 0);
  }
  .rodape {
    padding: 32px;
    border-top: 0.4px solid #070300;
}
.texto-rodape1 {
  align-items:flex-start;
}
.texto-rodape2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    color: rgb(54, 33, 1);
}
.texto-rodape {
     align-items:flex-end;
     display: flex;
     flex-direction: column;
     gap: 32px;
     font-family: 'righteous', cursive;
     font-weight: 400;
     font-size: 25px;
}

.sobre{
     align-items: center;
     display: flex;
     flex-direction: column;
     gap: 32px;
     font-family: 'righteous', cursive;
     font-weight: 400;
     font-size: 40px;
} 

.sobre2{
align-items: center;
display: flex;
flex-direction: column;
gap: 32px;
font-weight: 400;
font-size: 25px;
text-align: center;
width: 100%;
max-width: 800px;
margin: 0 auto; 
}

.questions{
align-items: center;
padding-left: 700px;
}

textarea {
padding: 10px;
max-width: 100%;
line-height: 1.5;
border-radius: 5px;
border: 1px solid #ccc;
box-shadow: 1px 1px 1px #999;
height: 180px;
margin-top: 1rem;
}
.redes-sociais {
list-style:none ;
width: 100%;
display: flex;
align-items: center;
justify-content: center;

}

.midias-sociais {
height: 100%;
width: 15%;

}
.copyright {
height: 100%;
width: 33%;
}

.container-img { 
height: 100%;
width: 33%;
}
.img-rodape {
width: 100%;
height: 100%;

}
.rodape-conteudo-2 {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;

}
.redes-sociais li {
width: 50%;
}

.conteudo2 {
  margin-bottom: 48px;
}

.conteudo-principal2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  font-family: 'righteous', cursive;
  font-weight: 400;
  font-size: 40px;
}
.conteudo-principal-escrito2-1 {
  font-family: 'Righteous', cursive;
  font-weight: 300;
  font-size: 50px;
  color: rgb(35, 25, 19);
}
.conteudo-principal-escrito2-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-weight: 400;
  font-size: 35px;
  text-align: center;
  font-family: 'Righteous', cursive;
  color: rgb(35, 25, 19);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;  
}

.cardapio {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}

.thumb{

  left: 50%;
  bottom: 20px;
  display: flex;
}

.thumb li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor:pointer;
  transition: 0.5s;
}
.thumb li:hover{
  transform: translateY(-15px);
}

.thumb li img{
  max-width:300px ;
}

.endereço{
  font-family: 'Righteous', cursive;
  font-size: 30px;
}

